body{font-family: "Titillium Web", monospace;}

/*HEADER*/
.header{ margin:0; padding: 0; background-color: #87509c; overflow: hidden }
.header a{ color:#FFF !important;}
.header a:hover{ background-color: #643a79 !important;}
.header p{text-align: center; font-size: 3em; color:#FFF; font-weight: 700;}
.actives {background-color: #643a79;}
.cuda{margin:10px 0; padding: 0; font-size: 1.8em; color:#FFF;}

.hi-there{padding:150px 70px}
.workwith{margin:100px 40%;background-color:#eb7d4b; padding: 25px; border-bottom: 3px solid #c86a40;}

/*SERVICES*/
.services{ margin:0; padding: 50px; background-color: #17c2a4; overflow: hidden; color:#FFF}
.services header{margin:0 0 50px 0;}
.services header h1{font-size:2.5em;  font-weight: 600;100%; text-align: center; }
.services hr{ width:20%;}
.services p {width:100%; text-align: center; font-size: 1.3em;}
.service span{    display: inline-block;    text-align: center;   vertical-align: bottom;    vertical-align: middle;    margin:0 90px}
.service h1{text-align: center;}


/*TEAM*/
.team{ margin:0; padding: 50px; background-color: #e7f1f8; color:#3c4761;}
.team header{margin:0 0 50px 0;}
.team header h1{font-size:2.5em;  font-weight: 600;100%; text-align: center; }
.team hr{ width:20%;}
.team p {width:100%; text-align: center; font-size: 1.3em;}
.team h1 {font-size: 2em;  width: 100%; text-align: center; }
.team h2 {font-size: 1em; color:#48c1e9; width: 100%; text-align: center; margin: -20px 0 30px 10px; font-weight:bold;}
.member{display: flex; flex-wrap: wrap;}
.member span{ background-color: #bdd1df; color: #fff; text-align: center; height: 30px; width:30px;margin:15px;padding:7px; border-radius: 20px}
.member span:hover{background: #6eafdd; cursor: pointer;}

/*SKILLS*/
.skills{ margin:0; padding: 50px; background-color: #FFF; color:#3c4761;}
.skills header{margin:0 0 50px 0;}
.skills header h1{font-size:2.5em;  font-weight: 600;100%; text-align: center; }
.skills hr{ width:20%;}
.skills p {width:100%; text-align: center; font-size: 1.3em;}
.skills h1 {font-size: 2em;  width: 100%; text-align: center;}
#canvas .circle {	display: inline-block;			margin: 1em;		}
.circles-decimals {			font-size: .4em;		}

/*PORTFOLIO*/

.portfolio{ margin:0; padding: 50px; background-color: #ffdd99; color:#393939;}
.portfolio header{margin:0 0 50px 0;}
.portfolio header h1{font-size:2.5em;  font-weight: 600;100%; text-align: center; }
.portfolio hr{ width:20%;}
.portfolio h1 {font-size: 2em;  width: 100%; text-align: center;}
.portfolio h2 {font-size: 1.6em;  width: 100%; text-align: center;}
.portfolio p {width:100%; text-align: center; font-size: 1.3em;}
.portfolio ul{text-align: center;}
.portfolio button{list-style: none; display: inline-block; font-size: 1.6em; margin: 0 15px; background-color: #ebc985; padding:15px 30px; border-radius: 10px; border: 0}
.portfolio a{text-decoration: none;}
.portfolio button:hover{background-color: #FFF !important; color: #000 ;  }
.activex {background-color: #FFF !important; color: #000 ;  }
#Container .mix{    display: none;}
.mix{margin: 0 80px;}
.load{margin:0 40%;background-color:#17c2a4; padding: 25px; border-bottom: 3px solid #14a58c; color: #FFF;}
.load:hover{background-color:#14a58c; color:#FFF;border-bottom: 3px solid #17c2a4;}

/*ABOUT US*/
.about{ margin:0; padding: 50px; background-color: #d74680; color:#FFF;}
.about header{margin:0 0 50px 0;}
.about header h1{font-size:2.5em;  font-weight: 600;100%; text-align: center; }
.about hr{ width:20%;}
.about img {width:150px; float:left; border-radius: 90px}
.about h1 {font-size: 2em;  width: 100%; text-align: center;}
.about h2 {font-size: 1.6em;  width: 100%; text-align: center;}
.about p {width:100%; text-align: center; font-size: 1em;font-style: oblique;}
.people{padding:50px 70px;}

/*CONTACT*/
.contact{ margin:0; padding: 50px; background-color: #3c5496; color:#FFF;}
.contact header{margin:0 0 50px 0;}
.contact header h1{font-size:2.5em;  font-weight: 600;100%; text-align: center; }
.contact hr{ width:20%;}
.contact  p {width:100%; text-align: center; font-size: 1.6em;}
.form-contact{margin: 0 auto; padding: 0; }
.form-contact input[type="text"]{ background-color: #273a71; color: #FFF; border: 0; padding: 15px; border-radius: 5px; margin: 15px;  width: 47%}
.form-contact textarea{background-color: #273a71; color: #FFF; border: 0; padding: 15px; border-radius: 5px; margin: 15px;  width: 97%; height: 200px;}
.form-contact input[type="submit"]{margin:0 32%;background-color:#30bae7; font-size: 1.4em; border: 0; border-radius: 5px; padding:25px 90px; border-bottom: 3px solid #299ec5; color: #FFF;}

/*FOOTER*/
footer{margin:0; padding: 20px; background-color: #344b8e;}
footer a{ color: #FFF; font-size: 2em; }
footer a:hover{color: #30bae7; text-decoration: none;}
footer ul{ list-style: none; text-align: center;}
footer li{display: inline-block; margin: 0 25px}



